{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Principal</title>     
        <script src="{% static 'main.js' %}"></script>           
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{% static 'estilos.css' %}"> 
        <link rel="stylesheet" href="{% static 'font-awesome.css' %}">              
        <link rel="stylesheet" href="estilos.css">            
        <link rel="stylesheet" href='font-awesome.css'>
        <script src="main.js"></script>
        
    </head>
    <body>
        <div class="wrap">
            <ul class="tabs">
                <li><a href="#tab1"><span class="fa fa-home"></span><span> Inicio21</span></a></li>
                <li><a href="#tab2"><span class="fa fa-clipboard"></span><span> Peticiones</span></a></li>
                <li><a href="#tab3"><span class="fa fa-question-circle"></span><span> Ayuda</span></a></li>
            </ul>

            <div class="secciones"> 
                <article id="tab1">
                    <p>para 1</p>
                    <label for="arch">Seleccione un archivo xml</label><br>

                    <form  enctype="multipart/form-data"  method="post">                      
                        <input type="file"  name="documento" > <br><br><br> 
                        {% csrf_token %}
                        <input type="submit" value="Enviar">   
                    </form>           

                    <table style="width: 110%">
                        <tr >
                            <th><p></p></th>
                            <th><p><button id="reset">Reset</button></p></th>

                        </tr>
                        <tr>
                            <th><p><textarea name="tarea1" id="t1" cols="30" rows="10" style="width: 95%">{{ archivo_xml }}</textarea></p></textarea></th>
                            <th><p><textarea name="tarea2" id="t2" cols="30" rows="10" style="width: 85%"></textarea></p></th>
                        </tr>
                    </table>
                    
                    
                </article>
                <article id="tab2">
                    <p>para 2</p>
                </article>
                <article id="tab3">
                    <p>para 3</p>
                </article>
            </div>
        </div>
        
    </body>
    
</html>